<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>{{title}}</title>
</head>

<body>
    {{#if user}}
    <div class="navbar">
        <h3>Bienvenido de nuevo, {{user.email}}</h3>
        <form action="/auth/logout" method="POST">
            <button type="submit"> Logout</button>
        </form>
    </div>
    {{else}}
    <div class="navbar">
    <p>No hay ningun usuario registrado</p>
    {{/if}}
    {{#if message}}
    <p>{{message}}</p>
    {{/if}}
    </div>
    <div class="container">
        <div class="auth-form">
            <a class="index-link" href="/auth/register">Registrarme</a>
            <a class="index-link" href="/auth/login">Login</a>
            <a class="index-link" href="/pets">Ir a Pets</a>
            <a class="index-link" href="/shelters">Ir a Shelters</a>
        </div>
    </div>

</body>

</html>