<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if pet.name}}
    <title>{{pet.name}}</title>
    {{else}}
    {{/if}}
    <title>Mi mascota</title>

    <style>
        a {
            display: block;
            margin-bottom: 20px;
        }

        div {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <a href="/pets/create-pet">Crear Pet</a>
    <a href="/pets">Volver</a>
    {{#if pet}}
    <h1>Hola, soy {{uppercase pet.name}} y soy un {{pet.specie}} </h1>
    <h2>Edad: {{pet.age}}</h2>
    <p>Mi raza es {{pet.breed}} y mi color  {{ pet.color}}</p>

    {{#gte this.pet.age 5}}
      <h3>¡Esta mascota tiene más de cinco años!</h3>
  {{else}}
    <h3>¡Esta mascota tiene menos de cinco años!</h3>
    {{/gte}}
    {{/if}}

</body>

</html>