<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Registro</title>
    <style>
       
    </style>
</head>

<body>
    <div class="container">
        <div class="auth-form">
            <h1>Registro</h1>
            <form class="form" action="/auth/register" method="POST">
                <label for="email">Email</label>
                <input type="text" id="email" name="email">

                <label for="password">Password</label>
                <input type="password" id="password" name="password">

                <button type="submit">ENVIAR</button>
            </form>
            {{#if error}}
                <div class="error">
                    {{error}}
                </div>
            {{/if}}

            <a href="/auth/login">Login</a>
            <a href="/">Inicio</a>
        </div>
    </div>
</body>

</html>