<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
    <title>Shelters</title>
</head>

<body>
    <h1>Nuestras Shelters</h1>
    <a href="/">Volver</a>
</body>

</html>